<% if user_signed_in? && @user == current_user %>
<h1><%= t('devises.mypage')%></h1>
<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:user_name)%></th>
      <th><%= User.human_attribute_name(:postal_code)%></th>
      <th><%= User.human_attribute_name(:address)%></th>
      <th><%= User.human_attribute_name(:mail)%></th>
      <th><%= User.human_attribute_name(:introduce_yourself)%></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @user.user_name %></td>
      <td><%= @user.postal_code %></td>
      <td><%= @user.address %></td>
      <td><%= @user.email %></td>
      <td><%= @user.introduce_yourself %></td>
    </tr>
  </tbody>
</table>
<% else %>
<h1><%= t('devises.user_page')%></h1>
<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:user_name)%></th>
      <th><%= User.human_attribute_name(:introduce_yourself)%></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @user.user_name %></td>
      <td><%= @user.introduce_yourself %></td>
    </tr>
  </tbody>
  <% end %>