<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('show.title') %></strong>
  <%= @book.title %>
</p>

<p>
  <strong>Memo:</strong>
  <strong><%= t('show.memo') %></strong>
</p>

<p>
  <strong>Author:</strong>
  <strong><%= t('show.author') %></strong>
</p>

<p>
  <strong>Picture:</strong>
  <strong><%= t('show.picture') %></strong>
</p>

<%= link_to t('button.edit'), edit_book_path(@book) %> |
<%= link_to t('button.back'), books_path %>
